[submodule "vcpkg"]
	path = vcpkg
	url = git@github.com:microsoft/vcpkg.git
[submodule "R-Type-documentations"]
	path = R-Type-documentations
	url = git@github.com:Divengerss/R-Type-documentations.git
[submodule "mkdocs-material"]
	path = mkdocs-material
	url = https://github.com/squidfunk/mkdocs-material.git
